<div class='col-xs-6'>
   <br>
  <br>
  <div class="panel panel-default">
    <div class="panel-body">
        <h1 class = 'lead text-center'>Speak Easy is the plaform for organizing and managing conference speaking engagements </h1>
    </div>
    <br>
    <br>
    <br>

    <div class="panel-footer">&copy <%= Time.now.year %></div>
  </div>

</div>

<div class='col-xs-6' >
  <h1 class="signup-banner"> New to Speak Easy? </h1>
  
  <button class="btn btn-lg btn-block btn-social btn-primary signup-button">
    <span class="fa fa-user-circle-o"></span>  Sign up with Username & Password
  </button>

  <%= form_for @user,{ :html => { class: "signup-form"} } do |f| %>
      <% if @user.errors.any? %>
          <div class='text-center form-group bg-danger'>
            <ul class='list-unstyled'>
              <% @user.errors.full_messages.each do |msg| %>
                  <li class = text-danger><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class='form-group'> <%= f.text_field :name, :placeholder => "Name", class: 'form-control' %> </div>
      <div class='form-group'> <%= f.text_field :email, :placeholder => "Email", class: 'form-control' %> </div>
      <div class='form-group'><%= f.text_field :username, :placeholder => "Username", class: 'form-control' %>  </div>
      <div class='form-group'><%= f.password_field :password, :placeholder => "Password", class: 'form-control' %> </div>
      <div class='form-group'><%= f.password_field :password_confirmation, :placeholder => "Confirm Password", class: 'form-control' %>  </div>
       <div class='form-group'> <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones,{default: "Pacific Time (US & Canada)"},class: 'form-control'%></div>
      <div class='form-group'><%= f.submit "Create Your Account", class: 'btn btn-primary' %> </div>
  <% end %>

  <a href="/auth/github" class="btn btn-lg btn-block btn-social btn-github">
    <span class="fa fa-github"></span>  Sign in with Github
  </a>

</div>

